<template>
    <section>

        <section v-if="tipoUsuario == 1">
            <h1>Novo usuário</h1>

            <div class="form">
                <form id="form" class="cad-user" v-on:submit="cadUser($event)">

                    <div class="middle">

                        <label for="nome" class="lbl-form">
                            <span>Nome<strong>*</strong></span>
                            <input type="text" id="nome" v-model="user.name" :class="(validate.name != null) ? 'field-error' : ''">
                            <p class="validation-error" v-for="erro in validate.name">{{ erro }}</p>
                        </label>
                    </div>

                    <div class="middle">
                        <label for="email" class="lbl-form lbl-medium">
                            <span>E-mail <strong>*</strong></span>
                            <input type="email" id="email" v-model="user.email" :class="(validate.email != null) ? 'field-error': ''">
                            <p class="validation-error" v-for="erro in validate.email">{{ erro }}</p>
                        </label>

                        <label for="conf_email" class="lbl-form lbl-medium">
                            <span>Confirme o e-mail <strong>*</strong></span>
                            <input type="email" id="conf_email" v-model="user.confEmail">
                        </label>
                    </div>

                    <div class="middle">
                        <label for="pass" class="lbl-form lbl-medium">
                            <span>Senha <strong>*</strong></span>
                            <input type="password" id="pass" name="pass" v-model="user.password" :class="(validate.password != null) ? 'field-error': ''">
                            <p class="validation-error" v-for="erro in validate.password">{{ erro }}</p>
                        </label>

                        <label for="confpass" class="lbl-form lbl-medium">
                            <span>Confirme Senha <strong>*</strong></span>
                            <input type="password" id="confpass" name="pass" v-model="user.confPassword">
                        </label>

                    </div>

                    <div class="middle">
                        <span class="title-form">Tipo de usuário</span>
                        <label class="lbl-form lbl-radio" :class="(user.tipo == 2) ? 'actived' : ''">
                            <span>Operador</span>
                            <input type="radio" value="2" v-model="user.tipo" checked>
                        </label>

                        <label class="lbl-form lbl-radio" :class="(user.tipo == 1) ? 'actived' : ''">
                            <span>Administrador</span>
                            <input type="radio" value="1" v-model="user.tipo">
                        </label>
                    </div>

                    <label for="" class="lbl-form">
                        <button>Salvar</button>
                    </label>

                </form>
            </div>
        </section>
        <h1 v-if="tipoUsuario == 2">Você não tem acesso á essa área, <router-link to="/">voltar</router-link></h1>
    </section>
</template>

<script>

    export default{
        data() {

            return {
                user: {
                    tipo: 2,
                    name: null,
                    email: null,
                    password: null,
                    idAdm: null,
                    confEmail: null,
                    confPassword: null
                },
                validate: [],
                adminData: window.Laravel.userData,
                tipoUsuario: window.Laravel.userData.tipo,
            }

        },
        methods: {

            cadUser: function(evt){
                evt.preventDefault();
                let t = this;
                var user = t.user;
                var obj = {
                    name: user.name,
                    email: user.email,
                    email_confirmation: user.confEmail,
                    password: user.password,
                    password_confirmation: user.confPassword,
                    idAdm: t.adminData.id,
                    tipo: user.tipo,
                    status: 1
                }

                t.$http.post('api/admin/addUser', obj).then(
                    response => {
                        if(response.body == ""){
                            this.$router.push('/usuarios');
                        }
                    },
                    error => {
                        console.log(JSON.parse(error.bodyText));
                        var errors = JSON.parse(error.bodyText);

                        t.validate = errors;
                    }
                )
            }
        }
    }
</script>