<template>
    <section>
        <div class="modal-overlay-over modalCompra"></div>
        <div class="modal-overlay modalCompra">
            <div class="modal-cad-users">
                <div class="modal-cad-header">
                    <h3>Adicionar compra realizada</h3>
                    <button>X</button>
                </div>

                <form action="#" method="post" class="cad-compra">

                    <label for="numero">
                        <span>Informe o id da compra <strong>*</strong></span>
                        <input type="text" id="numero" name="idCompra" class="field-custom">
                    </label>

                    <input type="hidden" name="compraRealizada" value="1"/>
                    <input type="hidden" id="idCliente" name="id"/>

                    <label for="">
                        <button>Adicionar</button>
                    </label>
                </form>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        data(){
            return{

            }
        }
    }
</script>