<template>
    <section>


        <div class="box-form-filter">
            <div class="box-bt-adicionar">
                <div class="inner-bt-adicionar">
                    <button class="bt-add-cliente"><img src="images/plus.svg"/> Adicionar Cliente</button>
                </div>
            </div>

            <form action="#" method="post" v-if="indicadorID == null">
                <label>
                    <span></span>
                    <input class="input-form" v-model="search" v-on:keyup="searchFilter" type="text"
                           placeholder="Pesquise por algum termo"/>
                </label>
                <label class="lbl-order">
                    <span>Ordenar por:</span>
                    <select @change="orderBy" v-model="order">
                        <option value="ligacaoDESC">Aprovados na NPC</option>
                        <option value="ligacaoASC">Não aprovados na NPC</option>
                        <option value="compraefetuadaDESC">Compras efetuadas</option>
                        <option value="compraefetuadaASC">Compras não efetuadas</option>
                    </select>
                </label>
            </form>

        </div>
        <table cellspacing="0" class="table-md">
            <thead>
            <tr>
                <th>Indicado em</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th colspan="3" class="opcoes">Opções</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in users">
                <td> {{ formatDate(user.created_at) }} </td>
                <td> {{ user.nome }} </td>
                <td> {{ user.email }} </td>
                <td> {{ user.telefone }}</td>
                <td>
                    <a class="a-icon info">
                        <span>Indicado por: {{ user.firstName }} <br/> Email: {{ user.indicadorMail }}</span>
                        <img class="icon" src="images/info.svg"/>
                    </a>
                </td>
                <td>
                    <a v-if="user.ligacaoEfetuada == 0" @click="addCalledMember(user.id)" href="#"
                       v-bind:data-target="user.id" class="a-icon ligacao">
                        <span>Aprovado na NPC?</span>
                        <img class="icon" src="images/phone-black.svg"/>
                    </a>

                    <a v-if="user.ligacaoEfetuada == 1" class="a-icon">
                        <span>Aprovado na NPC</span>
                        <img class="icon icon-clicked" src="images/phone-g.svg"/>
                    </a>
                </td>
                <td>
                    <a v-if="user.compraRealizada == 0" href="#" class="a-icon compra" v-bind:data-target="user.id">
                        <span>Usuário ja realizou a compra pela indicação?</span>
                        <img class="icon" src="images/correct.svg"/>
                    </a>

                    <a v-if="user.compraRealizada == 1" class="a-icon">
                        <span>{{ user.statusDescription }}  <p v-if="user.cpf"> CPF: {{ user.cpf }} </p></span>
                        <img class="icon icon-clicked" src="images/correct_step1.svg"/>
                    </a>

                    <a v-if="user.compraRealizada == 2" class="a-icon">
                        <span>{{ user.statusDescription }} <p v-if="user.cpf"> CPF: {{ user.cpf }} </p></span>
                        <img class="icon icon-clicked" src="images/correct_g.svg"/>
                    </a>

                    <a v-if="user.compraRealizada == -1" class="a-icon">
                        <span>{{ user.statusDescription }}  <p v-if="user.cpf"> CPF: {{ user.cpf }} </p> </span>
                        <img class="icon icon-clicked" src="images/error.svg"/>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <ul class="paginator">
            <li v-bind:class="(paginate.nextPageUrl == null) ? 'disabled' : ''"
                @click="getPagination(paginate.prevPageUrl)"><a><</a></li>
            <li v-for="pages in paginate.totalPages">
                <a v-if="paginate.currentPage != pages" @click="getPagination(pages)">{{ pages }}</a>
                <a v-if="paginate.currentPage == pages" class="active">{{ pages }}</a>
            </li>
            <li v-bind:class="(paginate.nextPageUrl == null) ? 'disabled' : ''"
                @click="getPagination(paginate.nextPageUrl)"><a>></a></li>
        </ul>
    </section>
</template>


<script>
    import userData from './userData.vue';

    export default {
        components: {

            userdata : userData

        },
        props: {
            idIndicador: {
                type: String,
                default: ""
            }
        },
        data(){
            return {
                users: [],
                active: false,
                total: null,
                pages: null,
                active: null,
                search: null,
                displayErrors: null,
                order: null,
                showModal: false,
                paginate: {
                    totalPages: null,
                    currentPage: null,
                    nextPageUrl: null,
                    prevPageUrl: null,
                    path: null
                },
                indicadorID: null,
                userData: window.Laravel.userData
            }
        },
        created: function () {
            this.getMembers();
            this.verificaUsuario();
        },
        watch: {
            '$route' (to, from) {
                let t = this;
                if(to.path == '/'){
                    t.indicadorID = null;
                    this.getMembers();
                }
            }
        },

        methods: {
            verificaUsuario: function () {
                let t = this;

                var id = t.idIndicador;

                if (id) {
                    t.indicadorID = id;
                }
            },
            searchFilter: function (evt) {

                let t = this;
                var val = t.search;


                var obj = {
                    search: val
                }

                t.$http.post('api/filterMembers', obj).then(
                    response => {
                        t.users = response.body;
                    },
                    error => {
                        console.log(error);
                    }
                )

            },
            orderBy: function () {
                let t = this;
                this.$http.get('api/filterMemberBy/' + t.order).then(
                    response => {

                        t.users = response.body.data;
                        t.setPagination(response.body);

                    },
                    error => {
                        console.log(error)
                    });
            },
            formatDate: function (dateString) {
                var date = new Date(dateString);
                var d = date.getDate();
                var m = date.getMonth() + 1;
                if (m < 10) m = '0' + m;
                var y = date.getFullYear();
                date = d + '/' + m + '/' + y;
                return date;
            },
            getMembers: function (url = "") {

                let t = this;
                var Rurl = '';


                if (t.idIndicador != '') {

                    var id = t.idIndicador;

                    Rurl = 'api/getAllMembers/' + id;
                } else {
                    if (url == "") {
                        Rurl = 'api/getAllMembers';
                    } else {
                        Rurl = url;
                    }

                }

                this.$http.get(Rurl).then(
                    response => {
                        t.users = response.body.data;
                        t.setPagination(response.body);
                    },
                    error => {
                        console.log(error.body);

                    }).finally(function () {
                });

            },
            addCalledMember: function (id) {

                var data = {
                    "id": id,
                    "ligacaoEfetuada": 1
                }

                this.$http.post('api/addCalledMember', data).then(
                    function (res) {
                        this.getMembers();
                    },
                    function (err) {

                    }
                );
            },
            addbuyMember: function (id) {
                var data = {
                    "id": id,
                    "compraRealizada": 1
                }

                this.$http.post('api/addbuyMember', data).then(
                    function (res) {
                        this.getMembers();
                    },
                    function (err) {

                    }
                );
            },
            setPagination: function (data) {
                let t = this;

                t.paginate.totalPages = data.last_page;
                t.paginate.currentPage = data.current_page;
                t.paginate.nextPageUrl = data.next_page_url;
                t.paginate.prevPageUrl = data.prev_page_url;
                t.paginate.path = data.path;
            },
            getPagination: function (target) {
                let t = this;
                var page = target;

                if (typeof target == 'string') {
                    var url = t.paginate.path + '?page=';
                    var nroPage = page.replace(url, '');
                    page = parseInt(nroPage);
                }

                var url = t.paginate.path + '?page=' + page;
                this.getMembers(url);
            }
        }
    }
</script>