<template>
    <section>

        <section v-if="tipoUsuario == 1">
            <h1>Editar usuário</h1>

            <div class="form">
                <form id="form" class="cad-user" v-on:submit="editUser($event)">
                    <div class="middle">
                        <label for="nome" class="lbl-form">
                            <span>Nome<strong>*</strong></span>
                            <input type="text" id="nome" v-model="user.name" :class="(validate.name != null) ? 'field-error' : ''">
                            <p class="validation-error" v-for="erro in validate.name">{{ erro }}</p>
                        </label>
                    </div>

                    <div class="middle">
                        <label for="email" class="lbl-form">
                            <span>E-mail <strong>*</strong></span>
                            <input type="email" id="email" v-model="user.email" :class="(validate.email != null) ? 'field-error': ''">
                            <p class="validation-error" v-for="erro in validate.email">{{ erro }}</p>
                        </label>
                    </div>
                    <div class="troca-senha" @click="alterarSenha = true">
                        Alterar Senha?
                    </div>
                    <div class="middle" v-if="alterarSenha == true">
                        <label for="pass" class="lbl-form lbl-medium">
                            <span>Senha <strong>*</strong></span>
                            <input type="password" id="pass" name="pass" v-model="user.password" :class="(validate.password != null) ? 'field-error': ''">
                            <p class="validation-error" v-for="erro in validate.password">{{ erro }}</p>
                        </label>

                        <label for="confpass" class="lbl-form lbl-medium">
                            <span>Confirme Senha <strong>*</strong></span>
                            <input type="password" id="confpass" name="pass" v-model="user.confPassword">
                        </label>

                    </div>

                    <div class="middle">
                        <span class="title-form">Tipo de usuário</span>
                        <label class="lbl-form lbl-radio" :class="(user.tipo == 2) ? 'actived' : ''">
                            <span>Operador</span>
                            <input type="radio" value="2" v-model="user.tipo" checked>
                        </label>

                        <label class="lbl-form lbl-radio" :class="(user.tipo == 1) ? 'actived' : ''">
                            <span>Administrador</span>
                            <input type="radio" value="1" v-model="user.tipo">
                        </label>
                    </div>

                    <label for="" class="lbl-form">
                        <button>Salvar</button>
                    </label>

                </form>
            </div>
        </section>
        <h1 v-if="tipoUsuario == 2">Você não tem acesso á essa área, <router-link to="/">voltar</router-link></h1>
    </section>
</template>

<script>

    export default{
        props: {
            editId: {
                type: String,
                default: ""
            }
        },
        data() {

            return {
                user: {
                    tipo: null,
                    name: null,
                    email: null,
                    password: null,
                    idAdm: null,
                    confEmail: null,
                    confPassword: null
                },
                validate: [],
                adminData: window.Laravel.userData,
                tipoUsuario: window.Laravel.userData.tipo,
                alterarSenha: null
            }

        },
        created() {
            this.selDataUser();
        },
        methods: {
            selDataUser: function(){
                let t = this;

                t.$http.get('api/admin/getUserData/'+t.editId).then(
                    response=>{
                        var resp = response.body;

                        t.user.name = resp.name;
                        t.user.email = resp.email;
                        t.user.tipo = resp.tipo;
                    },

                    error=>{

                    }
                )
            },
            editUser: function(evt){
                evt.preventDefault();
                let t = this;
                var user = t.user;
                var obj = {
                    name: user.name,
                    email: user.email,
                    password: user.password,
                    password_confirmation: user.confPassword,
                    idAdm: t.adminData.id,
                    tipo: user.tipo
                }

                t.$http.post('api/admin/editUser/'+t.editId, obj).then(
                    response => {
                        if(response.body == ""){
                            this.$router.push('/usuarios');
                        }
                    },
                    error => {
                        console.log(JSON.parse(error.bodyText));
                        var errors = JSON.parse(error.bodyText);

                        t.validate = errors;
                    }
                )
            }
        }
    }
</script>