<template>
    <section>

        <div class="modal-overlay-over"></div>
        <div class="modal-overlay">
            <div class="modal-cad-users">
                <div class="modal-cad-header">
                    <h3>Cadastrar Cliente</h3>
                    <button>X</button>
                </div>

                <form action="#" method="post" class="cad-cliente">
                    <label for="nome">
                        <span>Nome <strong>*</strong></span>
                        <input type="text" id="nome" name="firstName" class="field-custom">
                    </label>

                    <label for="sobrenome">
                        <span>Sobrenome <strong>*</strong></span>
                        <input type="text" id="sobrenome" name="lastName" class="field-custom">
                    </label>

                    <label for="email">
                        <span>E-mail <strong>*</strong></span>
                        <input type="text" id="email" name="email" class="field-custom">
                    </label>

                    <label for="cpf">
                        <span>CPF <strong>*</strong></span>
                        <input type="text" id="cpf" name="document" class="field-custom">
                    </label>

                    <label for="telefone">
                        <span>Telefone <strong>*</strong></span>
                        <input type="text" id="telefone" name="homePhone" class="field-custom">
                    </label>

                    <label for="telefone">
                        <span>Celular <strong>*</strong></span>
                        <input type="text" id="phone" name="phone" class="field-custom">
                    </label>
                    <label for="">
                        <button>Cadastrar</button>
                    </label>
                </form>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        data(){
            return{

            }
        }
    }
</script>