<template>
    <section>
        <div class="box-form-filter">
            <form action="#" method="post">
                <label>
                    <span></span>
                    <input class="input-form" v-model="search" v-on:keyup="searchFilter" type="text" placeholder="Pesquise por algum termo" />
                </label>
            </form>

        </div>
        <table cellspacing="0" class="table-md">
            <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Quantidade de usuários indicados</th>
                <th>Usuários aprovados</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in users">
                <td> {{ user.nome }} </td>
                <td><router-link v-bind:to="montaLink(user.id)" class="link">{{ user.email }} </router-link></td>
                <td class="centertext">
                    {{ user.qtdIndicados }}
                </td>
                <td class="centertext">
                    {{ user.qtdAprovados }}
                </td>
            </tr>
            </tbody>
        </table>
        <ul class="paginator">
            <li v-bind:class="(paginate.nextPageUrl == null) ? 'disabled' : ''"  @click="getPagination(paginate.prevPageUrl)"><a><</a></li>
            <li v-for="pages in paginate.totalPages">
                <a v-if="paginate.currentPage != pages"  @click="getPagination(pages)">{{ pages }}</a>
                <a v-if="paginate.currentPage == pages" class="active">{{ pages }}</a>
            </li>
            <li v-bind:class="(paginate.nextPageUrl == null) ? 'disabled' : ''" @click="getPagination(paginate.nextPageUrl)"><a>></a></li>
        </ul>
    </section>
</template>


<script>
    export default {
        props: {
            idBusca: {
                type: String,
                default: ""
            }
        },
        data(){
            return{
                users: [],
                active: false,
                total: null,
                pages: null,
                qtd: 10,
                active: null,
                next: null,
                prev: null,
                search: null,
                displayErrors: null,
                order: null,
                showModal: false,
                paginate: {
                    totalPages : null,
                    currentPage: null,
                    nextPageUrl: null,
                    prevPageUrl: null,
                    path: null
                }
            }
        },
        created: function(){
            this.getIndicadores();
        },
        methods: {
            searchFilter: function(evt){

                let t = this;
                var val = t.search;


                var obj = {
                    search : val
                }

                t.$http.post('api/filterIndicadores', obj).then(
                    response=>{
                        t.users = response.body;
                    },
                    error=>{
                        console.log(error);
                    }
                )
            },
            formatDate: function(dateString) {
                var date = new Date(dateString);
                var d = date.getDate();
                var m = date.getMonth() + 1;
                if(m < 10) m = '0' + m;
                var y = date.getFullYear();
                date = d + '/' + m + '/' + y;
                return date;
            },
            getIndicadores: function (url) {
                let t = this;

                var nUrl = null;
                if(!url){
                    if(t.idBusca){

                        nUrl = "api/getAllIndicadores/"+t.idBusca;
                    }else{
                        nUrl = "api/getAllIndicadores";
                    }
                }else{
                    nUrl = url;
                }
                this.$http.get(nUrl).then(
                    response=>{
                        console.log(response.body.data);
                        t.users = response.body.data;
                        t.setPagination(response.body);
                    },
                    error=>{
                        console.log(error.body);

                    }).finally(function(){ });


            },
            addCalledMember: function(id){

                var data = {
                    "id" : id,
                    "ligacaoEfetuada" : 1
                }

                this.$http.post('api/addCalledMember', data).then(
                    function(res){
                        this.getMembers();
                    },
                    function(err){

                    }
                );
            },
            addbuyMember: function(id){
                var data = {
                    "id" : id,
                    "compraRealizada" : 1
                }

                this.$http.post('api/addbuyMember', data).then(
                    function(res){
                        this.getMembers();
                    },
                    function(err){

                    }
                );
            },
            montaLink: function(id){

                return "/indicados/"+id;
            },
            setPagination: function(data){
                let t = this;

                t.paginate.totalPages = data.last_page;
                t.paginate.currentPage = data.current_page;
                t.paginate.nextPageUrl = data.next_page_url;
                t.paginate.prevPageUrl = data.prev_page_url;
                t.paginate.path = data.path;
            },
            getPagination: function(target){
                let t = this;
                var page = target;

                if(typeof target == 'string'){
                    var url = t.paginate.path + '?page=';
                    var nroPage = page.replace(url, '');
                    page = parseInt(nroPage);
                }

                var url = t.paginate.path + '?page=' + page;
                this.getIndicadores(url);
            }
        }
    }
</script>