<template>
    <section>
        <div class="outer">
            <div class="inner">
                <div class="box-login">
                    <div class="login-logo">
                        <img src="images/logo-login.png" alt="logo"/>
                    </div>

                    <form action="#" class="form-login">

                        <label for="email">
                            <span>E-mail</span>
                            <input type="email" id="email" v-model="email">
                        </label>

                        <label for="pass">
                            <span>Senha</span>
                            <input id="pass" type="password" v-model="pass">
                        </label>

                        <label class="lbl-button">
                            <button type="submit">Entrar</button>
                        </label>

                        <div class="lbl-acesso">
                            <p><a v-on:click="primeiroAcesso" href="#">Primeiro acesso</a></p>
                            <p><a href="">Esqueci minha senha</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        data(){
            return{
                email: null,
                pass: null
            }
        },
        methods: {
            primeiroAcesso: function(evt){
                var el = evt.target;



                return false;
            }
        }
    }
</script>