<template>
    <section class="container-users">
        <section v-if="tipoUsuario == 1">

            <table cellspacing="0" class="table-md">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Usuarios cadastrados</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="user in users">
                    <td>{{ user.name }}</td>
                    <td><router-link class="link" :to="{name: 'relatorio_detalhe', params: {id: user.id}}">{{ user.email }}</router-link></td>
                    <td>{{ user.qtdCadastrados }}</td>

                </tr>
                </tbody>
            </table>
            <ul class="paginator">
                <li v-bind:class="(paginate.nextPageUrl == null) ? 'disabled' : ''"
                    @click="getPagination(paginate.prevPageUrl)"><a><</a></li>
                <li v-for="pages in paginate.totalPages">
                    <a v-if="paginate.currentPage != pages" @click="getPagination(pages)">{{ pages }}</a>
                    <a v-if="paginate.currentPage == pages" class="active">{{ pages }}</a>
                </li>
                <li v-bind:class="(paginate.nextPageUrl == null) ? 'disabled' : ''"
                    @click="getPagination(paginate.nextPageUrl)"><a>></a></li>
            </ul>

        </section>
        <h1 v-if="tipoUsuario == 2">Você não tem acesso á essa área, <router-link to="/">voltar</router-link></h1>
    </section>
</template>

<script>
    export default {

        data(){
            return {
                users: null,
                paginate: {
                    totalPages: null,
                    currentPage: null,
                    nextPageUrl: null,
                    prevPageUrl: null,
                    path: null
                },
                userID: window.Laravel.userData.id,
                tipoUsuario: window.Laravel.userData.tipo,
            }
        },
        created: function () {
            this.listUsers();
        },
        methods: {
            listUsers: function (url = "") {
                let t = this;

                var finalUrl = null;
                if(url){
                    finalUrl = url;
                }else{
                    finalUrl = 'api/admin/listUsersRelatorios';
                }

                t.$http.get(finalUrl).then(
                    response => {
                        console.log(response.body);
                        t.users = response.body.data;
                        t.setPagination(response.body);
                    },
                    error => {

                    }
                )
            },
            setPagination: function (data) {
                let t = this;

                t.paginate.totalPages = data.last_page;
                t.paginate.currentPage = data.current_page;
                t.paginate.nextPageUrl = data.next_page_url;
                t.paginate.prevPageUrl = data.prev_page_url;
                t.paginate.path = data.path;
            },
            getPagination: function (target) {
                let t = this;
                var page = target;

                if (typeof target == 'string') {
                    var url = t.paginate.path + '?page=';
                    var nroPage = page.replace(url, '');
                    page = parseInt(nroPage);
                }

                var url = t.paginate.path + '?page=' + page;
                this.listUsers(url);
            },
            changeStatus: function(id, target){
                target.preventDefault();
                let t = this;

                t.$http.post('api/admin/changeStatus/'+id, {}).then(
                    response => {
                        t.listUsers();
                    },
                    error => {

                    }
                )

                return false;
            }
        }
    }

</script>

<style>
    .container-users{
        display: table;
        width:100%;
    }
</style>