<template>
    <section>
        <form action="logout" class="form-logout" method="post">
            <div class="name-user">{{ userData.name }}</div>
            <div class="funcao-user">{{ userData.tipo_descricao }}</div>
            <input type="submit" value="Sair" class="btn-sair">
            <input name="_token" type="hidden" v-model="csrf" >
        </form>
    </section>
</template>

<script>
    export default{
        data() {
            return {
                csrf: window.Laravel.csrfToken,
                userData : window.Laravel.userData
            }
        }
    }
</script>

<style>
    .btn-sair {
        padding: 7px;
        border: 1px solid black;
        background: transparent;
    }
</style>