<template>
    <section>

        <cabecalho></cabecalho>
        <form-compra></form-compra>
        <form-user></form-user>
        <div class="shell">
            <div class="box box-list">
                <menutelevendas></menutelevendas>
                <userdata></userdata>
                <router-view></router-view>
            </div>
        </div>

    </section>
</template>

<script>
    import cabecalho from './app/shared/header.vue';
    import form_compra from './app/adicionarCompra.vue';
    import form_user from './app/form-cadastro.vue';
    import menutelevendas from './app/shared/menuTelevendas.vue';
    import userData from './app/userData.vue';
    export default {
        components: {
            'cabecalho' : cabecalho,
            'form-compra': form_compra,
            'form-user' : form_user,
            menutelevendas : menutelevendas,
            userdata : userData
        },
        data() {
            return {
                tipoUsuario: window.Laravel.userData.tipo
            }
        }
    }
</script>