@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


.box-form-getmember span {
    display: block;
    margin-bottom: 5px;
}

.box-form-getmember{
    padding: 10px;
}

.box-form-getmember input{
    padding: 3px;
}

.button-send{
    padding: 10px;
}

.button-send input{
    padding: 4px;
}

.shell {
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.logo__container {
    display: inline-block;
    padding-top: 18px;
    width: 111px;
    height: 150px;
    background: #fff;
    box-shadow: 0 0 8px 2px rgba(55,71,79,.09);
    text-align: center;
}

.logo {
    background-image: url(../images/sprite.png);
    background-position: 0% 0%;
    background-size: 130.6818181818182% 100%;
    width: 88px;
    height: 62px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

.header .logo {
    margin-right: 18px;
}

.header:before {
    content: '';
    width: 100%;
    height: 0;
    padding-top: 4.8%;
    background: url(../images/header-bg-2.svg) no-repeat 0 0;
    display: block;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.header {
    position: relative;
    background: url(../images/header-bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 117px;
    overflow: hidden;
}

.box {
    padding: 22px 13px 15px 16px;
    background: #f5f5f5;
    border: 1px solid #e9e9e9;
}

.box.box-list {
    width: 70%;
    float: right;
    position: relative;
    top: -100px;
    min-height: 650px;
}

.table-md {
    width: 100%;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    background-color: #fff;
}

.table-md td, .table-md th {
    padding: 5px;
}

.table-md thead tr th {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #dadada;
    font-weight: 400;
    text-align: left;
    padding-left: 12px;
    font-size: 14px;
}

.table-md tbody tr td{
    font-size: 14px;
    padding-top: 10px;
    padding-left: 12px;
    padding-bottom: 10px;
    padding-right: 12px;
}

.table-md tbody tr{
    transition: .2s ease-in all;
}

.table-md tbody tr:hover{
    background-color: #f5f5f5;
}

.icon{
    width: 20px;
    cursor: pointer;
}

.a-icon{
    position: relative;
}

.a-icon span {
    position: absolute;
    width: 290px;
    display: none;
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    right: 33px;
    margin-top: -3px;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
}

/*.a-icon span:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
    position: absolute;
    right: -7px;
}*/

.paginator li a{
    text-decoration: none;
}

ul.paginator li {
    display: inline-block;
}

.paginator, .pagination{
    list-style: none;
    position: absolute;
    bottom: 0;
}

.paginator li a, .pagination li{
    cursor: pointer;
    display: inline-block;
    padding:5px;
    background-color: #fff;
}

.paginator li a.active, .pagination li.active{
    background-color: #FF051B;
    color: #fff;
}

.paginator li a.inative, .pagination li.disabled{
    cursor: auto;
}

.paginator li img, .pagination li img{
    width:10px;
}


.icon-clicked{
    cursor: auto!important;
}

.tooltip span{
    display: block!important;
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
    -ms-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
}

input.input-form {
    width: 50%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #d7d7d7;
}

.box-form-filter span {
    font-size: 14px;
    text-transform: uppercase;
}

.box-form-filter select {
    padding: 5px;
    border: 1px solid #d7d7d7;
}

label.lbl-order {
    float: right;
}

.box-login{
    float: left;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    background-color: #fff;
    width: 500px;
    height:400px;
    position: absolute;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-200px;
}

body.login{
    background-color: #f5f5f5;
}

.form-login label{
    display: block;
    margin-top:15px;
    width:80%;
    margin-left:10%;
    position: relative;
    left:-5px;
}

.form-login label span{
    display: block;
    font-size:12px;
    color: #9d9d9d;
    margin-top:20px;
}

.form-login input {
    width: 100%;
    height: 30px;
    outline: none;
    padding-left: 5px;
    border: 1px solid #d7d7d7;
}

.login-logo{
    text-align: center;
    margin-top: 10px;
}

.login-logo img{
    width:17%;
}

.form-login button{
    background-color: #FF051B;
    border: none;
    padding:10px;
    color: #fff;
    cursor: pointer;
    float: right;
}

.lbl-button{
    left:0!important;
    display: table!important;
}

.lbl-acesso p {
    display: block;
    width: 49%;
    float: right;
}

.lbl-acesso {
    width: 100%;
    float: none;
    margin: 0 auto;
    display: table;
    position: absolute;
    bottom: 16px;
}

.lbl-acesso p:first-child {
    text-align: right;
    float: left;
}

.lbl-acesso p a {
    color: #ff051b;
    text-decoration: none;
    font-size: 14px;
}

.lbl-acesso p a:hover{
    color: #e00619;
}

.menu-item img{
    width:50px;
    z-index: 2;
    position: relative;
}

.menu-item p {
    position: relative;
    z-index: 2;
}

a.router-link-exact-active.router-link-active:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #ff4758;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
}

section.menu-father {
    position: absolute;
    left: -80px;
}

section.menu-father {
    position: absolute;
    left: -108px;
    top: -1px;
    background-color: whitesmoke;
    padding: 10px;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
}

.menu-item {
    width: 100%;
    /* padding: 10px; */
    text-align: center;
    /* background-color: red; */
    margin-top: 20px;
    position: relative;
}

.menu-item:first-child {
    margin-top: 0;
}

.menu-item a {
    text-decoration: none;
    color: black;
}

.menu-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    display: block;
    background: #e9e9e9;
    left: 0;
    margin-top: -11px;
}

button.newUser img {
    float: left;
    width: 19px;
    margin-right: 5px;
}

button.newUser {
    padding: 5px;
    float: right;
    margin-bottom: 10px;
    background: transparent;
    border: 1px solid black;
    cursor: pointer;
}

.modal-inner {
    display: table;
    width: 100%;
}

.modal-inner h1 {
    text-align: center;
}

.inner-bt-adicionar button {background: transparent;border: 1px solid black;padding: 5px;float: right;}

.inner-bt-adicionar button img {
    float: left;
    width: 21px;
    padding-right: 7px;
}

.inner-bt-adicionar {
    width: 100%;
    display: table;
    padding-bottom: 15px;
}

.modal-overlay{
    display: none;
}

.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.modal-cad-users {
    position: absolute;
    width: 500px;
    height: auto;
    background-color: white;
    z-index: 9;
    left: 50%;
    margin-left: -250px;
    margin-top: 3%;
}

.modal-overlay-over{
    display: none;
}

.modal-overlay-over {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 8;
    top: 0;
    opacity: .3;
}

.cad-cliente label, .cad-cliente label span, .cad-cliente label input{
    display: block;
}

.modal-cad-header h3 {
    font-weight: 300;
    padding: 5px;
    font-size: 23px;
}

.modal-cad-header button {
    float: right;
    position: absolute;
    right: 7px;
    top: 7px;
}

.modal-cad-header button {
    float: right;
    position: absolute;
    right: 7px;
    background: transparent;
    top: 7px;
    border: 0;
    font-size: 15px;
}

.cad-cliente label {
    margin-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.field-custom {
    width: 96%;
    border: 1px solid #d7d7d7;
    height: 29px;
    padding-left: 5px;
}

form.cad-compra button {
    float: right;
    margin-top: 15px;
    margin-right: 12px;
    padding: 8px;
    background-color: transparent;
    border: 1px solid;
    margin-bottom: 10px;
}

.cad-cliente label span, .cad-compra label span {
    font-size: 13px;
    padding-bottom: 3px;
}

p.msgExiste, p.msgSucesso {
    padding: 12px;
    font-size: 15px;
    display: table;
    width:100%;
}

p.msgExiste a, p.msgSucesso a{
    color: red;
    text-transform: lowercase;
}

form.cad-cliente button {
    padding: 7px;
    border: 1px solid black;
    background: transparent;
    float: right;
    margin-right: 17px;
    margin-bottom: 15px;
}

.cad-cliente label span strong, .cad-compra label span strong {
    color: red;
}

p.erroValidate {
    display: table;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

form.cad-compra {
    padding: 8px;
}

.centertext{
    text-align: center;
}

a.link {
    color: #8a8a8a;
    text-decoration: none;
}

label.lbl-form {
    display: block;
    /* width: 100%; */
    padding: 10px;
    clear: both;
}

label.lbl-form span {
    display: block;
    font-size: 13px;
}

.lbl-form span strong {
    color: red;
}

.lbl-form input{
    width: 100%;
    border: 1px solid #d7d7d7;
    height: 29px;
    padding-left: 5px;
}

.lbl-medium{
    width:  49%;
    float: left;
}

.lbl-medium {
    width: 47%;
    float: left;
    clear: none!important;
}

.lbl-medium:last-child {
    float: right;
}

.lbl-radio {
    width: 46%;
    float: left;
    clear: none!important;
    margin-left: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.middle span.title-form {
    display: block;
    padding-bottom: 5px;
    padding-left: 10px;
}

label.lbl-form.lbl-radio.actived {
    background-color: #ff3c4a;
    border: 1px solid transparent;
}

label.lbl-form.lbl-radio span {
    /* float: left; */
    font-size: 18px;
    position: relative;
    top: 17px;
    text-align: center;
}

label.lbl-form.lbl-radio input {
    visibility: hidden;
}

.lbl-form button {
    float: right;
    margin-top: 15px;
    margin-right: 12px;
    padding: 8px;
    background-color: transparent;
    border: 1px solid;
    margin-bottom: 10px;
}

label.lbl-form.lbl-radio.actived span {
    color: #fff;
}

.middle {
    display: table;
    width: 100%;
}

.field-error {
    border: 1px solid #ff3c4a!important;
}

p.validation-error {
    font-size: 13px;
    color: #ff3c4a;
}

.btns {
    float: right;
}

a.newUser {
    display: table;
    padding: 5px;
    border: 1px solid #333;
    margin-bottom: 15px;
}

a.newUser img {
    float: left;
    width: 21px;
    padding-right: 7px;
}

a.newUser span {
    float: right;
    color: #001727;
    font-size: 13px;
}

a.status {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

a.status.ativo{
    background-color: green;
}

a.status.inativo{
    background-color: red;
}

.panel.panel-default {
    width: 30%;
    background-color: rgba(204, 204, 204, 0.11);
    border:1px solid #eee;
    margin: 100px auto;
    display: table;
}

.panel-body {
    padding: 10px;
}

.panel-heading {
    text-align: center;
    border-bottom: 1px solid #eee;
    padding:10px;
}

label.lbl-login {
    display: block;
    margin-top: 10px;
}

label.lbl-login span {
    display: block;
    font-size: 13px;
}

label.lbl-login input {
    height: 25px;
    width: 98%;
    border:1px solid #eee;
    padding:5px;
    outline:none;
}

button.btn.btn-primary {
    padding: 5px;
    float: right;
    margin-top: 10px;
    background: transparent;
    border: 1px solid black;
    margin-bottom: 10px;
}

.alert.alert-danger {
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.29);
    margin-top: 10px;
    border: 1px solid #e29a9a;
    color: #b11e1e;
}

.name-user {
    float: left;
}

.name-user:after {
    content: "";
    height: 16px;
    width: 2px;
    background: #dadada;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

.funcao-user {
    float: left;
    font-weight: bold;
    margin-right: 15px;
}

form.form-logout {
    float: right;
}

.btn-sair {
    position: relative;
    top: -8px;
}