<template>
   <form class="form-getmember" v-on:submit.prevent="addMember()">
      <div class="box-form-getmember" v-for="k in 5">
          <span>Amigo {{ k }}</span>
          
          <label class="lbl-getmember" v-for="key in keys">
               <input type="text" class="name" v-model="member[$index]" :placeholder="$value">
           </label>
          
      </div>
       <div class="button-send">
           <input type="submit" value="Enviar"/>
       </div>
   </form>     
</template>
<script>
export default {
    data(){
        return{
            keys: ['nome', 'email', 'telefone'],
            member: []
        }
    },
    methods: {
        addMember(){
            for (i = 0; i < 4; i++) {
                
                this.member.push(i)
            }
            
            console.log(this.member);
        }
    }
}
</script>