<template>
    <header class="header">
		<div class="shell">
			<div class="logo__container">
				<a href="#" class="logo">Sem parar</a>
			</div><!-- /.logo__container -->
		</div><!-- /.shell -->
	</header><!-- /.header -->
</template>
<script>
    export default {

    }
</script>