<template>
    <section class="menu-father">
        <div class="menu-item">
            <router-link to="/">
                <img src="https://semparar.corebiz.com.br/getmember/images/membership.svg" alt="membership"/>
                <p>Indicados</p>
            </router-link>
        </div>
        <div class="menu-item">
            <router-link to="/indicadores">
                <img src="https://semparar.corebiz.com.br/getmember/images/membership.svg" alt="">
                <p>Indicadores</p>
            </router-link>
        </div>
        <div class="menu-item" v-if="tipoUsuario == 1">
            <router-link :to="{name : 'users'}">
                <img src="images/user.svg" alt="">
                <p>Usuários</p>
            </router-link>
        </div>
        <div class="menu-item" v-if="tipoUsuario == 1">
            <router-link :to="{name: 'relatorios'}">
                <img src="images/line-chart.svg" alt="">
                <p>Relatorios</p>
            </router-link>
        </div>
    </section>
</template>

<script>
    export default {
        data(){
            return{
                tipoUsuario: window.Laravel.userData.tipo
            }
        }
    }
</script>